#{extends 'main.html' /}
#{set title:'Add New Datasource' /}

<h1><a href="/">Home</a> &gt; <a href="/datasources">My Datasources</a> &gt;Add New</h1>

<div class="datasources">
  <a href="/datasources/new/dropbox" title="Add a Dropbox account">
    <div class="datasource-box">
      <div><img src="https://www.dropbox.com/static/20427/images/logo.png" /></div>
    </div>
  </a>
  <a href="/datasources/new/s3" title="Add an Amazon S3 account">
    <div class="datasource-box">
      <div><img src="http://d36cz9buwru1tt.cloudfront.net/logo_aws.gif" /></div>
    </div>
  </a>
  <a href="/datasources/new/googlestorage" title="Add a Google Cloud Storage account">
    <div class="datasource-box">
      <div><img src="http://code.google.com/images/code_logo.gif" /></div>
    </div>
  </a>

  #{list listServices, as:'service'}  
  <a href="/datasources/new/dropbox" title"${service}">${service}</a>
  #{/list}
 
</table>
